body {
    background-color: #E9F1FA;
}

h1 {
    color: #00ABE4;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.btn-success {
    background-color: #4CAF50;
}

.btn-secondary {
    background-color: #007BFF;
    color: white;
}
